@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(fonts/Sacramento-Regular.ttf);
}

body {
    font-family: OpenSans-Regular;
    color: darkslategray;
}

#card {
    width: 360px;
    height: 240px;
    margin: auto;
    border-radius: 16px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 16px silver;
    position: relative;
    animation-name: scales, fade;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes scales {
    20%{transform: scale(1.01);}
}
@keyframes fade {
    20%{opacity: 0.8;}
}

#slogan {
    font-family: Sacramento-Regular;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 30px
}
#infi{
    font-family: OpenSans-Regular;
    font-size: 16px;
}

#main{
    color: crimson;
    font-family: Roboto-Black;
    position: absolute;
    top: 90px;
    left: 65px;
}
#name {
    font-size: 3em;
    color: slateblue
}

#bottom {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 0.9em;
}

a:link{
    color: darkslategray;
}
a:hover{
    color: darkslategray;
}
a:active{
    color: darkslategray;
}
a:visited{
    color: darkslategray;
}