@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(fonts/Sacramento-Regular.ttf);
}

body {
    font-family: OpenSans-Regular;
    background-color: whitesmoke;
    color: darkslategray;
}

#card {
    width: 360px;
    height: 240px;
    margin: auto;
    border-radius: 16px;
    background-color: white;
    position: relative;

}

#slogan {
    font-family: Sacramento-Regular;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 30px
}
#infi{
    font-family: OpenSans-Regular;
    font-size: 16px;
}

#main{
    text-align: center;
    color: crimson;
    font-family: Roboto-Black;
    position: absolute;
    top: 90px;
    left: 65px;
}
#name {
    font-size: 3em;
    color: slateblue
}

#bottom {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

a:link { 
    text-decoration: none; 
    color: darkslategray;
  } 
a:visited { 
    text-decoration: none; 
    color: darkslategray;
  } 
a:hover { 
    font-size: 1.1em;
    text-decoration: none; 
    color: darkslategray;
  } 
a:active { 
    text-decoration: none; 
    color: darkslategray;
  }
  
