@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}

html {
    background-color: whitesmoke;
}

body {
    color: darkslategray;
    display: flex;
    

    justify-content: center;
    align-items: center;

    margin: 0px;
    width: 300px;
    height: 500px;
    background-color: darkslateblue;
    box-sizing: border-box;
}

#myBox{
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: 10px 10px 10px 10px;


    border: 10px solid silver;
    width: 70%;
    height: 70%;
    align-items: center;
}