@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}
@font-face {
    font-family: SourceCodePro-ExtraLight;
    src: url(/fonts/SourceCodePro-ExtraLight.ttf);
}

* {
    box-sizing: border-box;
}

body {
    color: darkslategray;

    
    font-family: SourceCodePro-ExtraLight;



    margin: 0px;
    padding: 0px;

    display: flex;

    height: 100vh;

}

#myContainer{
    background-color: brown;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    cursor: pointer;
}

.box{
    color: red;
    text-shadow: 1px 1px 1px;
}

#box1{
    background-color: silver;
    /* align-self:baseline; */
    margin-right: auto;
}

#box2{
    background-color: blue;
    /* align-self:center; */
    margin:auto
}

#box3{
    background-color: yellow;
    /* align-self:self-end; */
    margin-left: auto;
}
