@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}
@font-face {
    font-family: SourceCodePro-ExtraLight;
    src: url(/fonts/SourceCodePro-ExtraLight.ttf);
}

* {
    box-sizing: border-box;
}

body {
    color: darkslategray;
    display: flex;
    
    font-family: SourceCodePro-ExtraLight;

    justify-content: center;
    align-items: center;

    margin: 0px;
    height: 100vh;
    background-color: slateblue;

}

#myBox{
    background-color: darkslategray;
    color: whitesmoke;
    margin: 10px 10px 10px 10px;


    border: 10px solid silver;

    width: 75%;
    height: 70%;
    align-items: center;
    padding: 10px;
}

#myTitle{
    font-family: OpenSans-Bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}