@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}

body {
    font-family: OpenSans-Regular;
    color: darkslategray;
}

#myBox{
    background-color: white;
    max-width: 700px;
    min-width: 400px;
    height: 300px;
    text-align: center;
    padding: 20px 30px;
    margin: 10px auto;
}

#tit{
    font-family: OpenSans-Bold;
    font-size: 2em;
    color: slateblue;
}

#numBox{
    text-align: center;
    font-size: 1.5em;
    width: 100px;
    margin: 8px;
    border: solid 4px darkslategray;
    border-radius: 8px;
}

label{
    font-family: OpenSans-Bold;
    font-size: 1.5em;
}

#myBut{
    font-size: 1.25em;
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: slateblue;
    color: whitesmoke;
    transition: 0.25s;
}

#myBut:hover{
    opacity: 0.75;
}
#myBut:active{
    opacity: 1;
}

#resultBox{
    font-family: OpenSans-Bold;
    font-size: 1.5em;
}

#imgsBox{
    padding: 10px;
}

#imgsBox img{
    width: 100px;
    margin: 4px;
}