@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}

body {
    font-family: OpenSans-Regular;
    color: darkslategray;
}

#myBox{
    text-align: center;
}

#labelBox{
    background-color: silver;
    width: 400px;
    height: 200px;
    margin: 10px auto;
    border-radius: 8px;
    transition: 0.5s;
}

#myLabel{
    font-family: Roboto-Black;
    font-size: 10em;
}

#myBut{
    font-size: 2em;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: slateblue;
    color: whitesmoke;
    transition: 0.25s;
}

#myBut:hover{
    opacity: 0.75;
}
