@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}

body {
    font-family: OpenSans-Regular;
    color: darkslategray;
}

#myBox{
    background-color: whitesmoke;
    width: 240px;
    margin: auto;
    padding: 28px 20px;
    border-radius: 16px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 16px silver;
    text-align: center;
}

#recBox{
    font-family: OpenSans-Bold;
    font-size: 2em;
    height: 30px;
}

#labelBox{
    text-align: center;
    height: 220px;
    padding-bottom: 20px;
    margin: auto;
    transition: 0.25s
}

#myLabel{
    font-family: OpenSans-Bold;
    font-size: 10em;
}

#myBut{
    font-size: 2em;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: darkslategray;
    color: whitesmoke;
    transition: 0.25s;
}

#myBut:hover{
    opacity: 0.75;
}
#myBut:active{
    opacity: 1;
}
