@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}

body {
    font-family: OpenSans-Regular;
    color: darkslategray;
}

#countNumber{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Roboto-Black;
}

#box {
    background-color: whitesmoke;

    height: auto;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 16px silver;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    padding: 5px 15px;
    font-size: 1.1em;
    background-color: slateblue;
    color: whitesmoke;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.25s;
}

#resetBtn{
    background-color: crimson;
}

.buttons:hover{
    opacity: 0.75;
}
