@font-face {
    font-family: Roboto-Black;
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(/fonts/Sacramento-Regular.ttf);
}

@font-face {
    font-family: SourceCodePro-ExtraLight;
    src: url(/fonts/SourceCodePro-ExtraLight.ttf);
}

body {
    font-family: OpenSans-Regular;
    color: darkslategray;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box {
    background-color: darkslategray;
    max-width:410px;;
    border-radius: 20px;
    box-shadow: 2px 2px 16px silver;

}

#displayBox{
    margin: 30px;
    margin-bottom: 0;
    overflow: hidden;
}

#inputDisplay{
    width: 350px;
    padding: 10px 0px;
    font-size: 2em;
    font-family: SourceCodePro-ExtraLight;
    color: whitesmoke;
    background-color: hwb(180 18% 59%);
    border: none;
    text-align: right;
}

#resultDisplay{
    color: whitesmoke;
    background-color: hwb(180 18% 59%);
    padding: 10px 0px;
    font-size: 3em;
    text-align: right;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 30px;
}

#equal{
    height: 170px;
    grid-column: 4;
    grid-row: 4 / 6;
}

button{
    font-size: 2em;
    background-color: silver;
    color: whitesmoke;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.25s;
}

#clear{
    background-color: crimson;
}

.funcBtns{
    background-color: slateblue;
}

button:hover{
    opacity: 0.75;
}
